/* Para criar propriedades que quer e aplicar no nosso componente. 
Criar classe banner por exemplo */
.banner {
    background-color: #6278F7;
    text-align: center;
}

.banner img {
    max-width: 1;
}